<div class="row">
    <div class="col s12 center-align killo">
        <span class="flow-text">Вес:</span>
        <div class="input-field inline">
            <input id="name_onefetts" type="number" class="validate">
            <label for="name_onefetts">Введите вес</label>
        </div>
        <span class="flow-text">кг</span>
    </div>
</div>
<div class="row pt-2">
    <div class="col s1 killo">
        <span class="flow-text">Удой:</span>
    </div>
    <div class="col s10">
            <p class="range-field" style="margin-top: 0;">
                <input type="range" name="countMilk" id="test5" min="10" max="35" />
            </p>
    </div>
    <div class="col s1 killo">
        <span class="flow-text">кг</span>
    </div>
</div>
<div class="row">
    <div class="col s12 center-align killo">
        <span class="flow-text">Жирность:</span>
        <div class="input-field inline">
            <input id="fetts" type="number" class="validate">
            <label for="fetts">Жирность</label>
        </div>
        <span class="flow-text">(%)</span>
    </div>
</div>
<div class="row">
    <div class="col s12 center-align killo">
        <span class="flow-text">Белок:</span>
        <div class="input-field inline">
            <input id="spore" type="email" class="validate">
            <label for="spore">Белок</label>
        </div>
        <span class="flow-text">(%)</span>
    </div>
</div>

<div class="row">
    <a class="waves-effect waves-light btn left col s2 offset-s3"><i class="fas fa-arrow-circle-left left"></i>Назад</a>
    <a class="waves-effect waves-light btn left col s2 offset-s2"><i class="fas fa-arrow-circle-right right"></i>Далее</a>
</div>