@model List<LogicGrid>
@{
    ViewData["Title"] = "KormLagerraum";
}

<div class="d-flex mt-3 justify-content-center blue-text">
    <h4 class="font-weight-bold">Исходные данные</h4>
</div>

<div class="card-body">
    <div id="table" class="table-editable">
        <table class="table table-bordered table-responsive-md table-striped text-center">
            <thead>
                <tr>
                    <th class="text-center">Вид корма</th>
                    <th class="text-center">Фактическое количество (т)</th>
                    <th class="text-center">Сортировка</th>
                    <th class="text-center">Действия</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var korm in Model)
                {
                    <tr>
                        <td class="pt-3-half">@korm.Name</td>
                        <td class="pt-3-half" contenteditable="true">@korm.Value</td>
                        <td class="pt-3-half">
                            <span class="table-up"><a href="#!" class="indigo-text"><i class="fa fa-long-arrow-up" aria-hidden="true"></i></a></span>
                            <span class="table-down">
                                <a href="#!" class="indigo-text">
                                    <i class="fa fa-long-arrow-down"
                                       aria-hidden="true"></i>
                                </a>
                            </span>
                        </td>
                        <td>
                            <span class="table-remove"><button type="button" class="btn btn-red btn-rounded btn-sm my-0">Удалить</button></span>
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
</div>

<form method="post" asp-controller="Logic" asp-action="Result">
    <div class="d-flex justify-content-center align-items-center">
        <span class="blue-text indsript">Период кормления:</span>
        <div class="md-form">
            <input type="text" id="weight" name="day" class="form-control">
            <label for="weight">Введите значение</label>
        </div>
        <span class="blue-text">дней</span>
    </div>

    <div class="row justify-content-around mb-5 mt-5">
        <button type="submit" class="btn btn-primary w-25">
            Расчитать
            <i class="fa fa-calculator ml-4"></i>
        </button>
    </div>
</form>