@model CreatedViewModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Created</title>
</head>
<body>
    <h2>Регистрация нового пользователя</h2>
    <form method="post" asp-controller="Account" asp-action="Created">
        <div asp-validation-summary="ModelOnly"></div>
        <div>
            <label asp-for="Email"></label><br />
            <input asp-for="Email" />
            <span asp-validation-for="Email"></span>
        </div>
        <div>
            <label asp-for="OrganizationName"></label><br />
            <input asp-for="OrganizationName" />
            <span asp-validation-for="OrganizationName"></span>
        </div>
        <div>
            <label asp-for="Password"></label><br />
            <input asp-for="Password" />
            <span asp-validation-for="Password"></span>
        </div>
        <div>
            <label asp-for="ConfirmPassword"></label><br />
            <input asp-for="ConfirmPassword" />
            <span asp-validation-for="ConfirmPassword"></span>
        </div>
        <div>
            <input type="submit" value="Регистрация" />
        </div>
    </form>
</body>
</html>
